<h1>Show Gissues Backlog</h1>

<p> This little app makes your Backlogs created with <a href="http://gissues.com/">Gissues</a> publicly visible.
</p>

<p>If you have prioritizes your github issues with Gissues, you can view just the backlog at
  <b>http://showbacklog.herokuapp.com/&lt;owner&gt;/&lt;repository&gt;</b>
</p>
<p>e.g. the backlog for this project: <a href = "http://showbacklog.herokuapp.com/bkleinen/showbacklog">http://showbacklog.herokuapp.com/bkleinen/showbacklog</a>
  </p>
  <p>
    <a href="http://github.com/bkleinen/showbacklog">View this project on GitHub</a>
  </p>
