<h1>Listing issues</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Priority Order</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue.html_url%></td>
        <td><%= issue.gissues_order %></td>
        <td><%= issue.gissues_status %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
