<h1>Listing issues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>

        <td><%= issue.gissues_order %></td>
        <td><%= issue.gissues_status %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
